body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: gold;

    h1 {
        margin-top: 1em;
        color: midnightblue;
    }
}

/* Formulaire de la page d'inscription et de connexion */

.log-form {
    text-align: center;

    input, textarea {
        width: 20%;
        padding: .7rem;
        margin-bottom: .5em;
        text-align: center;
    }
}

form {
    margin-bottom: 1rem;
}

input, textarea {
    width: 60%;
    padding: .7rem;
    margin-bottom: .5em;
}

button {
    padding: .6em;
}

/*.message-div {
    border: 1.5px solid midnightblue;
    padding: .9em;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: .8em .82em rgb(19, 19, 80);
}*/
